@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {

  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .description {
    @apply text-slate-gray info-text text-xl max-w-lg;
  }
  .heading {
    @apply text-4xl font-bold font-palanquin;
  }
  .input {
    @apply text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray sm:flex-1 max-sm:w-full max-sm:rounded-full;
  }
}
  .swiper-pagination-bullet-active {
    background-color: #FF6452;
  }
@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }
  .swiper-pagination-bullet{
    @apply mt-7;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }
   .reverse-rotate{
    @apply -rotate-90;
  }
  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}

.swiper-pagination-bullet-active{
  background-color: #FF6452 !important;
}
